# SERVER CONFIG
PORT=5000
NODE_ENV=production

# DB CONFIG (MANDATORY)
MONGODB_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/jannatloom

# SECURITY
JWT_SECRET=your_super_secret_jwt_key_here

# EXTERNAL (OPTIONAL FOR ORDERS)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SENDGRID_API_KEY=
