<IfModule mod_passenger.c>
  PassengerEnabled On
  PassengerAppRoot /home/u549028972/domains/jannathandloom.com/public_html
  PassengerAppType node
  PassengerStartupFile index.js
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]
</IfModule>
