.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.main-content {
  padding-top: 100px;
  min-height: calc(100vh - 100px); /* Ensure content fills space */
}